<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("023bc480-9624-495a-9628-e1d388b86dc6");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
